.input {
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color 0.24s, box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.input:focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sm {
  width: clamp(120px, 100%, 150px);
}

.md {
  width: clamp(200px, 100%, 250px);
}

.lg {
  width: clamp(320px, 100%, 380px);
}

.disabled {
  background-color: #e0e0e0; /* Gray background */
  color: #a0a0a0; /* Lighter text color */
  cursor: not-allowed; /* Change cursor to indicate non-interactivity */
  opacity: 0.7; /* Slightly faded appearance */
}

@media screen and (max-width: 1368px) {
  .sm {
    padding: 0.9rem 1rem; /* taller */
    font-size: 1.125rem;
    width: 50vw;
  }

  .md {
    padding: 0.9rem 1rem; /* taller */
    font-size: 1.125rem;
    width: 90vw;
  }

  .lg {
    padding: 0.9rem 1rem; /* taller */
    font-size: 1.125rem;
    width: 90vw;
  }
}
