.sideBar {
  background-color: rgba(0, 23, 69, 0.8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15em;
  align-items: stretch;
}

#main {
  font-weight: 700;
  color: white;
  padding: 0 1em 0 1em;
  margin: 1em 25% 0 25%;
}

.dropDownBtn {
  color: white;
  cursor: pointer;
}

.dropDownBtn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.dropDownContent {
  margin-top: 1em;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 2em;
  align-items: center;
}

.menuWords {
  color: white;
  transition: none !important;
  cursor: ;
}

.menuWords:hover {
  color: black;
  background-color: white;
  box-shadow: none !important;
}

.menuItems {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.active {
  color: black;
  background-color: white; /* or whatever highlight */
  font-weight: bold;
}
